:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-line-C: #d63384;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
  --bs-line: 3px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  padding: 2rem 0;
  overflow-x: hidden;
  font-size: 1.8rem;
  font-family: "Courier New", Courier, monospace;
  background-color: rgba(77, 83, 83, 0.549);
}
h3 {
  font-weight: 900;
  text-transform: capitalize;
  font-size: 3rem;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.text-C {
  text-align: center;
}
.mb-md {
  margin-bottom: 3rem;
}
.full-container {
  width: 100%;
}
.container {
  max-width: 112rem;
  margin: 0 auto;
}
.line {
  height: 2px;
  width: 100%;
  background: #000;
}
/* for expanding cart */
.panel-container {
  text-align: center;
  padding: 5rem;
  background: var(--bs-gray-dark);
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4rem auto;
}
.panel {
  transition: flex 0.8s ease-in;
  position: relative;
  border-radius: 5rem;
  height: 40rem;
  margin: 0 1rem;
  flex: 0.5;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: auto 100%;
}
.panelActive {
  flex: 4;
}
.panel h3 {
  position: absolute;
  bottom: 3rem;
  left: 3rem;
  opacity: 0;
  color: var(--bs-dark);
  padding: 1rem;
  white-space: nowrap;
}
.panelActive h3 {
  transition: opacity 0.3s ease-in 0.4s;
  opacity: 1;
}
.panel-1 {
  background-image: url(../img/blogs/blog_1.jpg);
}
.panel-2 {
  background-image: url(../img/blogs/blog_2.jpg);
}
.panel-3 {
  background-image: url(../img/blogs/blog_3.jpg);
}
.panel-4 {
  background-image: url(../img/blogs/blog_4.jpg);
}

.panel-5 {
  background-image: url(../img/blogs/blog_5.jpg);
}
/* Button Hover */
.btn-container {
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

/* Button 1 */
.btn-1 {
  font-weight: 900;
  padding: 2rem;
  border: var(--bs-line) solid var(--bs-line-C);
  line-height: 0;
  color: var(--bs-dark);
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
}
.btn-1::before {
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: var(--bs-dark);
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  transform-origin: left bottom;
  transition: all 0.3s ease-in;
  transform: rotate(-90deg);
}
.btn-1:hover::before {
  color: red;
  transform: rotate(0deg);
}
.btn-1:hover {
  color: var(--bs-light);
}

/* Button 2 */
.btn-2 {
  font-weight: 900;
  border: var(--bs-line) solid var(--bs-line-C);
  padding: 2rem;
  line-height: 0;
  color: var(--bs-dark);
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
}
.btn-2::before {
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: var(--bs-dark);
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  transition: all 0.7s ease-in;
  transform: translateX(-100%);
}
.btn-2:hover::before {
  transform: translateX(0);
}
.btn-2:hover {
  color: var(--bs-light);
}

/* Button 3 */

.btn-3 {
  font-weight: 900;
  border: var(--bs-line) solid var(--bs-line-C);
  padding: 2rem;
  line-height: 0;
  color: var(--bs-dark);
  transition: all 0.3s ease;
  position: relative;
}
.btn-3::before {
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: var(--bs-dark);
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  transform-origin: center;
  transition: all 0.7s ease-in;
  transform: rotateY(90deg);
}

.btn-3::after {
  width: 100%;
  transform-origin: center;
  height: 100%;
  z-index: -1;
  background-color: var(--bs-dark);
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  transition: all 0.7s ease-in;
  transform: rotateX(90deg);
}
.btn-3:hover::after {
  transform: rotateX(0);
}
.btn-3:hover::before {
  transform: rotateY(0deg);
}
.btn-3:hover {
  color: var(--bs-light);
}

/* Button 4 */

.btn-4 {
  font-weight: 700;
  border: var(--bs-line) solid var(--bs-line-C);
  padding: 2rem;
  line-height: 0;
  color: var(--bs-dark);
  transition: all 0.4s ease;
  position: relative;
}
.btn-4:hover {
  border-width: 5px;
  font-weight: 900;
  letter-spacing: 2px;
}

/* Button 5 */
.btn-5 {
  font-weight: 900;
  border: var(--bs-line) solid var(--bs-line-C);
  padding: 2rem;
  line-height: 0;
  color: var(--bs-dark);
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
}
.btn-5::before {
  width: 100%;
  height: 100%;
  background-color: var(--bs-dark);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  content: "hovered!";
  letter-spacing: 2px;
  transition: all 0.3s ease-in, color 0.2s ease;
  transform: translateY(-100%);
}
.btn-5:hover::before {
  transform: translateY(0);
}
.btn-5:hover {
  color: var(--bs-light);
}

/* Button 6 */
.btn-6 {
  font-weight: 900;
  border: var(--bs-line) solid var(--bs-line-C);
  padding: 2rem;
  line-height: 0;
  color: var(--bs-light);
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease-in;
  background: var(--bs-dark);
}
.btn-6::before {
  background-color: var(--bs-yellow);
  width: 100%;
  height: 3rem;
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  letter-spacing: 2px;
  transition: all 0.6s ease-in;
  transform: translateX(-100%) rotate(45deg);
}
.btn-6:hover::before {
  transform: translateX(100%) rotate(45deg);
}
.btn-6:hover {
  color: var(--bs-yellow);
  background-color: var(--bs-light);
}

/* Button 7 */

.btn-7 {
  font-weight: 900;
  border: var(--bs-line) solid var(--bs-line-C);
  padding: 2rem;
  line-height: 0;
  transition: all 0.7s ease;
  position: relative;
  color: var(--bs-dark);
  background-color: var(--bs-dark);
  overflow: hidden;
}
.btn-7::before {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--bs-dark);
  background-color: var(--bs-yellow);
  position: absolute;
  left: 0;
  top: 0;
  content: "button 07";
  transition: transform 0.4s ease-in;
  letter-spacing: 1px;
}

.btn-7::after {
  width: 100%;
  transform-origin: center;
  height: 100%;
  color: var(--bs-dark);
  letter-spacing: 2px;
  background-color: var(--bs-yellow);
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  content: "Hovered!";
  transform: translate(-100%, 100%);
  transition: transform 0.4s ease-in;
}
.btn-7:hover::after {
  transform: rotateX(0);
}
.btn-7:hover::before {
  transform: translate(100%, -100%);
}

/* Button 8 */
.btn-8 {
  font-weight: 900;
  border: var(--bs-line) solid var(--bs-line-C);
  padding: 2rem;
  line-height: 0;
  transition: all 0.5s ease;
  position: relative;
  color: var(--bs-dark);
  overflow: hidden;
}
.btn-8::before {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: var(--bs-dark);
  color: var(--bs-light);
  left: 0;
  top: 0;
  content: "button 08";
  transition: all 0.3s ease-in;
  transform: scale(2);
  opacity: 0;
}
.btn-8:hover::before {
  opacity: 1;
  transform: scale(1);
}

/* Button 9 */
.btn-9 {
  font-weight: 900;
  border: var(--bs-line) solid var(--bs-line-C);
  padding: 2rem;
  line-height: 0;
  transition: all 0.5s ease, color 0.3s;
  position: relative;
  color: var(--bs-dark);
  overflow: hidden;
}
.btn-9::before {
  width: 100%;
  height: 0%;
  position: absolute;
  background-color: var(--bs-dark);
  left: 0;
  top: 0;
  content: "";
  transition: all 0.3s ease-in;
  border-radius: 0 0 50% 50% !important;
  z-index: -1;
}
.btn-9:hover::before {
  height: 190%;
}
.btn-9:hover {
  color: var(--bs-light);
}

/* Button 10 */
.btn-10 {
  font-weight: 900;
  border: var(--bs-line) solid var(--bs-line-C);
  padding: 2rem;
  line-height: 0;
  transition: all 0.5s ease;
  position: relative;
  color: var(--bs-light);
  background-color: var(--bs-dark);
}
.btn-10::before {
  transform-origin: top;
  transform: rotateX(270deg);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: var(--bs-green);
  left: 0;
  top: 0;
  content: "hovered!";
  transition: all 0.3s ease-in;
}

.btn-10::after {
  transform-origin: top;
  transform: rotateX(270deg);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: var(--bs-red);
  left: 0;
  top: 0;
  content: "hovered!";
  transition: all 0.3s ease-in 0.3s, opaciy 0.2s ease 0.1s;
}
.btn-10:hover::before,
.btn-10:hover::after {
  transform: rotateX(0deg);
}

/* Button 11 */
.btn-11 {
  font-weight: 900;
  border: var(--bs-line) solid var(--bs-line-C);
  padding: 2rem;
  line-height: 0;
  transition: all 0.5s ease;
  position: relative;
  color: var(--bs-dark);
  background-color: var(--bs-dark);
}
.btn-11::before {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: var(--bs-cyan);
  color: var(--bs-light);
  left: 0;
  top: 0;
  content: "hovere me!";
  transition: all 0.5s ease;
}
.btn-11::after {
  color: var(--bs-light);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: -100%;
  top: 0;
  content: "hovered!";
  background-color: var(--bs-red);
  transition: all 0.5s ease;
  transform: scale(0) rotateY(0deg);
  opacity: 0;
}
.btn-11:hover::before {
  left: 100%;
  transform: scale(0) rotateY(360deg);
  opacity: 0;
}
.btn-11:hover::after {
  opacity: 1;
  left: 0;
  transform: scale(1) rotateY(360deg);
}
